.header {
    border-bottom: 1px solid #e9ecef;
}
.logo {
    color: rgba(0,0,0,.85);
}
.mainav>ul>li a {
    color: rgba(0,0,0,.65);
}
.mainav>ul>li:hover a,
.mainav>ul>li.active a {
    color: rgba(0,0,0,.85);
    text-decoration: none;
}
.block_shadow {
    background-color: #e9ecef;
}