/* font-family: "Сonsolas"; */
@font-face {
    font-family: "Сonsolas";
    src: url("../fonts/consolas/consolas.eot");
    src: url("../fonts/consolas/consolas.eot?#iefix")format("embedded-opentype"),
    url("../fonts/consolas/consolas.woff") format("woff"),
    url("../fonts/consolas/consolas.ttf") format("truetype"),
    url("../fonts/consolas/consolas.svg#consolas") format("svg");
    font-style: normal;
    font-weight: 400;
}