/* font-family: "MyriadProRegular"; */
@font-face {
	font-family: "MyriadProRegular";
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
	url("../fonts/MyriadProRegular/MyriadProRegular.svg") format("svg"),
	url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "HelveticaRegular"; */
@font-face {
	font-family: "HelveticaRegular";
	src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
	src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
	url("../fonts/HelveticaRegular/HelveticaRegular.svg") format("svg"),
	url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
