#timetable-title {
	background: url(../images/bg-timetable-title.png) center no-repeat;
	width: 910px;
	height: 20px;
	font: bold 15px Arial, sans-serif;
	color: #ef7eb2;
	padding: 12px 0 8px 0;
	margin-top: 12px;
}

.dayofweek {
	float: left;
	background: url(../images/bg-dayofweek.png) center no-repeat;
	color: #ffffff;
	height: 40px;
	width: 53px;
	font: normal 22px Arial, sans-serif;
	text-align: center;
	padding-top: 15px;
}

#button-up {
	background: url(../images/button-up.png) no-repeat;
	height: 70px;
	width: 54px;
	position: absolute;
	bottom: 125px;
	margin-left: 966px;
	display: block;
	cursor: pointer;
}
