.sticky {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
}
.sticky__body {
    margin-bottom: 152px;
}
.sticky__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 122px;
    box-sizing: border-box;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}
.absolute-logo {
    display: block;
    margin-bottom: 10px;
}
.exam {
    max-width: 615px;
    margin: 20px auto;
}
.exam__tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.btn {
    cursor: pointer;
    padding: 10px 10px;
    color: #203f54;
    transition: background .5s ease-out;
    line-height: 1.1;
    border: none;
    outline: none;
    box-sizing: border-box;
}
.btn:hover,
.btn.active {
    background: #f37e00;
    color: #f7f6f6;
}
.exam__tab {
    padding: 10px 10px;
    font-size: 16px;
    border: 1px solid #f37e00;
    border-bottom: none;
    line-height: 1.1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: center;
    text-align: center;
}
.exam__tab + .exam__tab {
    border-left: none;
}
.exam__content-box {
    padding: 10px 5px;
    background: rgba(245, 236, 220, 0.2);
    border: 1px solid #f37e00;
    border-top: 3px solid #f37e00;
}
.exam__content-inner {
    padding: 10px 15px;
}
.exam__content_topics,
.exam__content_numbers,
.exam__content_exam {
    display: none;
}
.exam__content.active {
    display: block;
}
.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.btn_ticket {
    width: auto;
    display: block;
    padding: 5px 10px;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    margin: 0 20px 15px 0;
    border-radius: 3px;
    border: 1px solid #f37e00;
    outline: 0;
    color: #203f54;
    text-decoration: none;
    background: transparent;
    font-weight: normal;
}
.btn_ticket:hover {
    background: #f37e00;
    color: #fff;
}
.btn_up {
    background: #ccdbea;
    border: 1px solid #a8b3be;
}
.btn_up:hover {
    border: 1px solid transparent;
}
.cardstable-wrap {}
.cardstable {
    width: 100%;
    border-collapse: collapse;
    border: none;
}
.cardstable__td {
    padding: 3px 4px;
}
.cardstable__td > .btn {
    margin: 0;
}