@import url('reset.css');
@import url('typography.css');

#main, .content {
	width: 1045px;
	margin: 0 auto;
}

.clear { clear: both; }
input:focus, button:focus { outline: none; }

.error { border: 1px solid #bf0000; background: #ffd7cd; }

/*------------header-------------*/
#header {
	background: url(../img/bg-header-f.png) no-repeat center center;
	height: 671px;
	width: 1347px;
	border-bottom: 3px solid #939393;
	margin: 0 auto;
	/*
	-webkit-box-shadow: inset 0px 0px 90px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    inset 0px 0px 90px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         inset 0px 0px 90px 0px rgba(0, 0, 0, 0.5);*/
}
.front_form {
	margin: 0 0 0 364px;
	padding: 100px 0 0 0;
	text-align: center;
}
#header p {
	font: normal 27px "Segoe UI Light", Arial, sans-serif;
	color: #0d0d0b;
	margin: 0 0 21px 14px;
}
#header input {
	display: block;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #9e9882;
	width: 271px;
	padding: 5px 21px;
	margin: 0 0 15px 196px;
	background: #d8d8d8;
	color: #848484;
	font: normal 22px "Segoe UI Light", Arial, sans-serif;
}
#header .button {
	display: block;
	color: #ffffff;
	font: normal 26px "Segoe UI Regular", Arial, sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
	background: #428bca;
	border: 0;
	border-bottom: 3px solid #2b5c85;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 39px 0 30px 194px;
	/*padding: 6px 62px;*/
	width: 321px;
}
.header_shadow {
	background: url(../img/bg-header-shadow.png) no-repeat center center;
	width: 1347px; height: 23px;
	margin: 0 auto;
	position: absolute;
}
/*------------header-(end)------------*/

#main-wrapper {
	background: url(../img/bg-main.png) repeat;
}
#main {
	background: #ffffff;
	border-left: 1px solid #bcbcbc;
	border-right: 1px solid #bcbcbc;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 0px 3px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

/*------------about-------------*/

.about {
	background: #f6f6f6;
	padding: 11px 82px 20px 55px;
	border-bottom: 4px solid #a8a8a8;
}

.about b {
	color: #0d0d0b;
	font: normal 17px "Segoe UI Bold", Arial, sans-serif;
}

.about p {
	color: #0d0d0b;
	font: normal 17px "Segoe UI Regular", Arial, sans-serif;
	line-height: 1.4;
}

ul#menu {
	list-style: none;
	font: normal 19px "Segoe UI Regular", Arial, sans-serif;
	color: #2268a4;
	margin: 40px 0 0 0;
}
ul#menu li {
	display: inline;
	margin-right: 10px;
}
ul#menu li:after {
  	content: "|";
  	margin-left: 10px;
  	font: normal 19px "Segoe UI Regular", Arial, sans-serif;
  	color: #2268a4;
}
ul#menu li:last-child:after {
  	content: "";
}

.about img {
	float: right;
	width: 246px;
	height: 246px;
	margin: 38px 0 0 0;
}

/*------------about-(end)------------*/

/*------------events-------------*/
#events {
	background: #ffffff url(../img/events.png) 36px 91px no-repeat;
	padding: 11px 82px 20px 55px;
	height: 583px;
}
/*------------events-(end)------------*/

/*------------form_block-------------*/
.form_block {
	background: url(../img/bg-form-block.png) no-repeat;
	height: 288px;
	padding: 11px 82px 0px 55px;
}
.form_block p.h4 {
	color: #ffffff;
	font: normal 19px "Segoe UI Light", Arial, sans-serif;
	margin: 0 0 0 0;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.form_block .form_block_right p.h4 {
	margin: 0 0 0 12px;
}
.form_block p.h4b {
	color: #ffffff;
	font: normal 19px "Segoe UI Bold", Arial, sans-serif;
	margin: 20px 0 0 0;
}
.form_block b {
	font: normal 19px "Segoe UI Bold", Arial, sans-serif;
}
.form_block .hline {
	background: #a7201f;
	height: 1px;
	border-bottom: 1px solid #d86d6d;
	margin: 17px 0 29px 0;
}
.form_block_left {
	float: left;
}
.form_block_right {
	float: left;
	margin: 5px 0 0 96px;
}
.bonus {
	float: left;
	text-align: center;
	margin: 0 10px 0 0;
}
.bonus.last {
	margin: 0 0 0 10px;
}
.bonus a {
	font: normal 13px "Segoe UI Light", Arial, sans-serif;
	color: #080806;
	text-decoration: none;
	border: none;
}
.bonus a:hover {
	color: #ffffff;
}
.bonus a:hover img {
	border: 3px solid #cfcfcf;
	border-radius: 41px;
}
.bonus img {
	border: 3px solid #c06262;
	border-radius: 41px;
	box-shadow: inset 0px 0px 5px 5px #fff;
}
.bonus a p {
	font: normal 13px "Segoe UI Light", Arial, sans-serif;
	color: #080806;
	background: #f3d0d0;
	padding: 5px 15px;
	margin: 8px 0 0 0;
}
.bonus a:hover p {
	color: #ffffff;
	background: #c09f9f;
}
/*
.form_block .dimension {
	float: left;
	background: url(../img/bg-countdown.png) no-repeat;
	width: 86px;
	height: 82px;
}
.dimension-count-title {
	font: normal 11px "MyriadPro Regular", Arial, sans-serif;
	color: #f2f2f2;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
	text-align: center;
	text-transform: uppercase;
}*/
.countdown {
	background: url(../img/bg-countdown.png) no-repeat;
	width: 291px;
	height: 84px;
	margin: 13px 0 0 0;
	position: relative;
	left: -13px;
}
.dimension-count {
	float: left;
	font: normal 41px "HelveticaNeue-CondensedBold", Arial, sans-serif;
	color: #ffffff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	padding: 12px 0 0 21px;
	width: 47px;
}
#main .form_block input {
	display: block;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #9e9882;
	width: 218px;
	height: 22px;
	padding: 5px 21px;
	margin: 0 0 15px 0px;
	background: #ffffff;
	color: #6d6d6d;
	font: normal 17px "Segoe UI Light", Arial, sans-serif;
}
#main .form_block .button {
	display: block;
	color: #ffffff;
	font: normal 21px "Segoe UI Regular", Arial, sans-serif;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.38);
	background: #428bca;
	border: 0;
	border-bottom: 3px solid #2b5c85;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 16px 0 0 0;
	/*padding: 5px 51px;*/
	width: 260px;
	height: auto;
}
/*------------form_block-(end)------------*/

/*------------video-------------*/
#video {
	background: url(../img/bg-video.png) no-repeat;
	height: 547px;
	padding: 79px 0 0 115px;
	border-bottom: 4px solid #a8a8a8;
}
#video .player {
	width: 795px;
	height: 472px;
}
/*------------video-(end)------------*/

/*------------bulets------------*/

#bullets { padding: 35px 55px 110px 55px; }
#bullets h3 { font-size: 30px; margin-bottom: 45px; }
#bullets h3.h42 { font-size: 42px; font-weight: bold; text-align: center; margin: 45px 0 30px 0; }
#bullets .row { float: left; width: 935px; }
#bullets .row .bullet {
	float: left;
	width: 240px;
	text-align: center;
	border-right: 1px solid #c3c3c3;
	margin-right: 53px;
	padding-right: 53px;
}
#bullets .row .bullet:last-child {
	border-right: none;
	margin-right: 0;
	padding-right: 0;
}
#bullets .row .bullet img { width: 161px; height: 161px; }
#bullets .row .bullet p { font: normal 18px "Segoe UI Light", Arial, sans-serif; color: #000000; margin-top: 20px; }
#bullets .row .vline {
	float: left;
	background: #c3c3c3;
	width: 1px;
	height: 228px;
	margin: 20px 20px 0 0;
}
#bullets .rowline {
	clear: both;
}
#bullets .rowline .hline {
	float: left;
	background: #c3c3c3;
	width: 237px;
	height: 1px;
	margin: 40px 87px 40px 9px;
}
#bullets .rowline .hline:last-child { margin-right: 0; margin-left: 28px; }

#bullets .row2 { width: 709px; margin: 0 auto; }
#bullets .row2 .bullet {
	float: left;
	width: 284px;
	text-align: center;
}
#bullets .row2 .bullet img { width: 284px; height: 284px; }
#bullets .row2 .bullet p { font: normal 18px "Segoe UI Light", Arial, sans-serif; color: #0b0b09; }
#bullets .row2 .vline {
	float: left;
	background: #c3c3c3;
	width: 1px;
	height: 220px;
	margin: 27px 70px;
}
#bullets .row2 .bullet p.pos1 {
	margin-top: -120px;
	position: relative;
	z-index: 101;
}
#bullets .row2 .bullet p.pos2 {
	margin-top: -140px;
	position: relative;
	z-index: 101;
}
/*------------bulets-(end)------------*/

/*------------reviews-------------*/
#reviews {
	padding: 11px 55px 25px 55px;
}
#reviews .comment-wrapper {
	width: 743px;/*935px;*/
	float: left;
	margin: 50px 0 0 0;
	padding: 0 95px;
	position: relative;
	overflow: hidden;
}
.comment-wrapper ul { list-style:none; }
.comment-wrapper ul li { float:left; height: 170px; padding: 0 4px 0 0; }

.jcarousel-clip { overflow:hidden;}
.jcarousel-next, .jcarousel-prev { cursor: pointer; top: 47px; width: 33px; height: 56px; position: absolute; display: block; }
.jcarousel-prev { background: url("../img/prev.png") no-repeat scroll left top rgba(0, 0, 0, 0); left: 10px; }
.jcarousel-next { background: url("../img/next.png") no-repeat scroll left top rgba(0, 0, 0, 0); right: 10px; }

#reviews .comment_block {
	float: left;
	width: 742px;
}
#reviews .comment_block img {
	position: relative;
	float: left;
	width: 140px;
	height: 140px;
	margin-right: -35px;
	z-index: 100;
}
#reviews .comment_block .comment {
	color: #000000;
	font: normal 14px "Segoe UI Regular", Arial, sans-serif;
	float: left;
	width: 632px;
}
#reviews .comment_block .title {
	padding: 9px 0 7px 40px;
}
#reviews .comment_block .text {
	font-style: italic;
	line-height: 1.5;
	background: #f4f4f4;
	border: 1px solid #cccccc;
	padding: 20px 40px;
	border-radius: 49px;
	-mox-border-radius: 49px;
	-webkit-border-radius: 49px;
}
#reviews .comment_block .date {
	text-align: right;
	padding: 5px 40px 0 0;
}
/*------------reviews-(end)------------*/

/*------------faq-------------*/
#faq {
	padding: 0 0 93px 0;
}
#faq h3 { margin-bottom: 25px; }
#faq .faq_left {
	width: 670px;
	float: left;
	margin: 0 80px 0 0;
}
#faq .faq_right {
	float: left;
	background: url(../img/question-mark.png) no-repeat;
	width: 242px;
	height: 245px;
	margin: 69px 0 0 0;
}
#faq h3 {text-align: center;}
#faq .question { 
	cursor: pointer;
	font: normal 17px "Segoe UI Light", Arial, sans-serif;
	text-transform: uppercase;
	padding: 0 0 0 53px;
	margin: 20px 0 0 0;
	line-height: 2.5;
	float: left;
	width: 617px;
}
#faq .question div {
	float: left;
}
#faq .question .hr {
	height: 1px; width: 617px;
	background: #e2e2e2;
}
#faq .question:hover {
	background: #deeef9;
	/*border-bottom: 1px solid #f3faff;*/
}
#faq .question:hover .hr {
	background: #f3faff;
	/*border-bottom: 1px solid #f3faff;*/
}
#faq .answer { 
	float: right;
	font: normal 15px "Segoe UI Light", Arial, sans-serif;
	background: #deeef9;
	padding: 20px 0 15px 53px;
	line-height: 1.5;
}
#faq .arrow { 
	float: left;
	background-image: url(../img/icon-down.png);
	background-repeat: no-repeat;
	width:26px; height: 26px;
	margin: 8px 0 0 40px;
}
/*#faq .arrow:hover { 
	background: url(../img/icon-down-hover.png) no-repeat;
}*/
/*------------faq-(end)------------*/

/*------------footer-------------*/
#footer {
	background: url(../img/bg-footer.png) no-repeat;
	height: 84px;
	padding: 41px 0 0 77px;
}
#footer .email, #footer .vk, #footer .phone {
	font: normal 21px "Segoe UI Bold", Arial, sans-serif;
	color: #ffffff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
	height: 54px;
	float: left;
}
#footer .email {
	background: url(../img/icon-mail.png) 0px 7px no-repeat;
	padding: 11px 0 0 76px;
	margin: 0 58px 0 0;
	width: 170px;
}
#footer .vk {
	background: url(../img/icon-vk.png) 0px 4px no-repeat;
	padding: 11px 0 0 108px;
	margin: 0 74px 0 0;
	width: 170px;
}
#footer .phone {
	background: url(../img/icon-phone.png) 0px 3px no-repeat;
	padding: 11px 0 0 55px;
	width: 164px;
}
/*------------footer-(end)------------*/