/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.mobile_mnu_btn {
		display: block;
	}
	.m_menu {
		display: none;
	}
	ul.m_menu {
		float: none;
		border-top: none;
		border-bottom: none;
	}
	ul.m_menu > li {
		float: none;
		display: block;
	}
	ul.m_menu > li > a {
		display: block;
		width: auto;
		height: auto;
		text-align: left;
		font-size: 12px;
		text-transform: uppercase;
		background-color: #fff;
		padding: 15px 12px 15px 12px;
		border-right: 1px solid #d3dcde;
		border-left: 1px solid #d3dcde;
		border-top: 1px solid #d3dcde;
	}
	ul.m_menu > li:first-child > a {
		border-top: none;
	}
	ul.m_menu > li:last-child > a {
		border-bottom: 1px solid #d3dcde;
	}
	ul.m_menu > li.exp > a {
		position: relative;
	}
	ul.m_menu > li.exp > a > i {
		display: block;
	}
	ul.m_menu > li:hover > a {
		background-color: #fff;
		color: #595959;
	}
	ul.sub_menu {
		position: static;
	}
	ul.sub_menu > li > a {
		border-bottom: none;
		background-color: #fff;
	}
	ul.sub_menu > li > a:first-child {
		border-top: none;
	}
	#carousel .item h2 {
		font-size: 51px;
	}
	.home-snippets .snippet {
		width: 306px;
	}
	section#categories .items {
		width: 990px;
	}
	section#categories .items .item {
		width: 33.33333333%
	}
	footer.top .snippet {
		display: none;
	}
	footer.top .columns {
		margin: 0;
		padding: 0;
	}
	footer.top .column {
		float: none;
		width: 100%;
		border-bottom: 1px solid #616264;
	}
	footer.top .column:last-child {
		border-bottom: none;
	}
	footer.top .column.newsletter .field {
		width: 100%;
		margin-top: 0;
	}
	footer.top .column.newsletter .field input {
		width: 100%;
	}
	footer.top .column h2 > i {
		display: inline;
	}
	footer.top .column h2 {
		padding: 10px 0;
		cursor: pointer;
	}
	footer.top .column ul {
		margin: 5px 0 0 0;
	}
	footer.top .column .sub_container {
		display: none;
		margin-left: 35px;
		margin-bottom: 10px;
	}
	#page article.page_area div.rightside {
		margin-left: 0;
		float: none;
		clear: both;
	}
	#page article.page_area .items {
		width: 765px;
	}
	#page.page_category article.page_area section#categories .items .item {
		width: 50%;
	}
	#page article.page_area .collection-container .items .item {
		width: 33.33333333%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.reglog {
		display: none;
	}
	.wishlist {
		border-left: 1px solid #d3dcde;
	}
	#carousel .item h2 {
		font-size: 40px;
		background: rgba(0,0,0,1);
		position: static;
		text-align: center;
		padding: 0;
	}
	.home-snippets {
		display: none;
	}
	section#categories .items {
		width: 770px;
		margin-top: 25px;
	}
	#page aside.sidebar_left {
		display: none;
	}
	#page article.page_area, #page.page_category article.page_area {
		margin-left: 0;
	}
	#page article.page_area form label p {
		float: none;
		margin-bottom: 0;
	}
	#page article.page_area div.floattable p.title {
		float: none;
		margin-bottom: 0;
	}
	#page article.page_area form .submit_container {
		margin-left: 0;
	}
	#page article.page_area form .submit_container a.forgot {
		display: inline-block;
		margin-left: 15px;
	}
	#page article.page_area div.block_info.middle {
		float: none;
		clear: right;
		margin-right: 0;
	}
	#page article.page_area .items {
		width: 770px;
	}
	#page.page_category article.page_area section#categories .items .item {
		width: 33.33333333%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#carousel .item h2 {
		font-size: 22px;
		background: rgba(0,0,0,1);
		position: static;
		text-align: center;
		padding: 0;
	}
	section#categories .items {
		width: 102.8%;
	}
	section#categories .items .item {
		width: 50%;
	}
	#page article.page_area form label div.cont, #page article.page_area form label div.cont.w230, #page article.page_area form label div.cont.w130, #page article.page_area form .submit_container button {
		width: 100%;
	}
	#page article.page_area form .submit_container a.forgot {
		display: block;
		margin-left: 0;
	}
	/* ----------------------------- TABLE RESPONSIVE ----------------------------- */
	table.responsive { margin-bottom: 0; }
	.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #e4e4e4; border-left: 1px solid #e4e4e4; }
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th, .pinned table td { white-space: nowrap; }
	.pinned td:last-child { border-bottom: 0; }
	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #e4e4e4; }
	div.table-wrapper div.scrollable table { margin-left: 35%; }
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
	table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }
	/* ----------------------------- TABLE RESPONSIVE ----------------------------- */
	#page article.page_area form label.radio {
		display: block;
	}
	#page article.page_area div.leftside, #page article.page_area div.rightside {
		float: none;
		clear: both;
		width: 100%;
	}
	#page article.page_area form div.search_container {
		width: 100%;
	}
	#page article.page_area div.rightside .result {
		width: 100%;
		box-sizing: border-box;
	}
	#page article.page_area .items {
		width: 102.8%;
	}
	#page.page_category article.page_area section#categories .items .item {
		width: 50%;
	}
	#page article.page_area .collection-container .items .item {
		width: 50%;
	}
	#page.nosidebars article section#categories .items .item {
		width: 100%;
	}
}
/* Custom for nicely remove .wishlist */
@media only screen and (max-width : 670px) {
	.wishlist {
		display: none;
	}
	.items {
		border-left: 1px solid #d3dcde;
	}
	section#categories .items {
		width: 103.2%;
	}
	#page article.page_area .collection-container .pagination .page-link.m_hide {
		display: none;
	}
	#page article.page_area .items {
		width: 103.3%;
	}
}
/* Custom for nicely remove .search */
@media only screen and (max-width : 590px) {
	.search {
		display: none;
	}
	.m_icon-search {
		display: block;
	}
	ul.m_menu_add > li > a {
		display: none;
	}
	/*.m_search_container {
		display: block;
	}*/
	footer.bottom p span.separator {
		display: none;
	}
	footer.bottom p span.separator_br {
		display: inline;
	}
	section#categories .items {
		width: 103.6%;
	}
	#page article.page_area .items {
		width: 103.6%;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.items {
		border: none;
	}
	#carousel .item h2 {
		font-size: 18px;
		background: rgba(0,0,0,1);
		position: static;
		text-align: center;
		padding: 0;
	}
	input.m_searchfield {
		width: 55%;
	}
	section#categories .items {
		width: 104.6%;
	}
	section#categories .items .item a.cat_title, #page.page_category article.page_area section#categories .items .item a.cat_title {
		padding: 8px 12px;
		line-height: 15px;
		white-space: normal;
	}
	section#categories .cat_title .icon-arrow2-right {
		display: none;
	}
	#page article.page_area div.block_info.first {
		float: none;
		clear: right;
		margin-right: 0;
	}
	#page article.page_area div.floattable p.info {
		width: 260px;
		white-space: pre;
		white-space: pre-wrap;
		white-space: pre-line;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;
		white-space: -moz-pre-wrap;
		white-space: -hp-pre-wrap;
		word-wrap: break-word;
	}
	#page article.page_area div.rightside .result .block_info_p {
		float: none;
		clear: both;
	}
	#page article.page_area div.rightside .result .block_info_p.last {
		margin-left: 0;
	}
	#page article.page_area div.rightside .result .block_info_p p a {
		display: inline;
		margin: 0;
	}
	#page article.page_area .collection-container .sorting .customSelect {
		width: 145px;
	}
	#page article.page_area .items {
		width: 104.6%;
	}
	#page article.page_area .collection-container .items .item .category-title p.price {
		font-size: 13px;
	}
	#page.nosidebars article section#categories .items .item .video-container iframe {
		height: 200px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.items {
		display: none;
	}
	section#categories .items, #page article.page_area .items {
		width: 107%;
	}
	#page article.page_area div.floattable p.info {
		width: 200px;
	}
	#page article.page_area .collection-container .items .item .category-title p.price span {
		display: none;
	}
	#page article.page_area .collection-container .items .item .shopwired-image-container span.newin, #page article.page_area .collection-container .items .item .shopwired-image-container span.twoforone {
		font-size: 9px;
	}
}


	/*==========  Mobile First Method  ==========*/

	/* Custom, iPhone Retina */
	@media only screen and (min-width : 320px) {
		.container {
			width: auto;
			padding: 0 15px;
		}
	}

	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px) {
		.container {
			width: auto;
			padding: 0 15px;
		}
	}

	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {
		.container {
			width: 750px;
			padding: 0;
		}
	}

	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px) {
		.container {
			width: 970px;
			padding: 0;
		}
	}

	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px) {
		.container {
			width: 1000px;
			padding: 0;
		}
		ul.m_menu > li:hover > ul.sub_menu {
			display: block;
		}
		ul.sub_menu > li > a:hover {
			background-color: #e9eaeb;
			color: #ff5a3d;
		}
		ul.m_menu {
			display: block;
		}
	}