/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

@media only screen and (min-width : 320px) {}

@media only screen and (min-width : 360px) {
    
}

@media only screen and (min-width : 380px) {}

@media only screen and (min-width : 375px) {
    
}
@media only screen and (min-width : 411px) {
    
}
@media only screen and (min-width : 414px) {
    
}

@media only screen and (min-width : 480px) {
    .collage__img_xs {
        position: static;
        width: 71%;
        margin: 0 auto;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .user-profile {
        max-width: 500px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .btn {
        width: auto;
    }
    .firstscreen__btn {
        width: 100%;
    }
    .btn-login {
        width: 100%;
    }
    .btn-w100 {
        width: 100%;
    }
    .logo__text {
        font-size: 20px;
    }
    .logo.logo_main .logo__text {
        font-size: 40px;
    }
    .logo__img {
        width: 30px;
        height: 26px;
    }
    .logo.logo_footer .logo__img {
        width: 27px;
        height: 25px;
        float: left;
        margin-right: 15px;
        margin-left: 0;
        margin-bottom: 0;
    }
    .logo.logo_header .logo__img {
        float: left;
        width: 27px;
        height: 24px;
    }
    .footer {
        padding: 37px 0;
        text-align: left;
    }
    .footer a.footer__lnk {
        font-size: 14px;
        color: #fff;
        padding-top: 6px;
        margin-top: 0;
    }
    .footer a.footer__lnk + a.footer__lnk {
        margin-left: 20px;
    }
    .btn-unsubscribe {
        margin-top: 20px;
        float: right;
        width: auto;
    }
    .login-form .form-control {
        min-width: 370px;
    }
    .collage-login {
        margin: 33px 0 0;
        overflow: visible;
    }
    .collage-login__img {
        width: 100%;
        position: static;
    }
    .settings-photo {
        width: 320px;
        padding-right: 20px;
    }
    .settings-form {
        padding-left: 20px;
    }
    .settings-form__custom-control {
        margin-bottom: 0;
    }
    .custom-file {
        height: 294px;
    }
    .custom-file-area {
        height: 294px;
    }
    .custom-file-img {
        width: 320px;
        height: 300px;
    }
    .custom-file.image {
        height: 300px;
    }
    .custom-file.image .custom-file-area {
        height: 300px;
    }
    textarea.form-control {
        border-radius: 5px;
        min-height: 126px;
    }
    .user-list {
        padding-top: 50px;
    }
    .user__btn {
        width: 100%;
    }
    .user-profile {
        padding: 64px 0 120px;
        width: 700px;
        max-width: 960px;
    }
    .user-profile__gallery {
        width: 712px; /*6+700+6*/
        left: -6px;
    }
    .user-profile__gallery-item {
        /*width: 100px;*/
        height: 93px;
    }
    .user-profile__image {
        width: 285px;
        height: 372px;
        margin-right: 30px;
    }
    .user-profile__btn {
        padding: 1.063rem 3rem;
    }
    .user-profile__text {
        margin-bottom: 0;
    }
    .user-profile.user_pair .user-profile__title:before {
        display: none;
    }
    .user-profile__row {
        margin-bottom: 40px;
    }
    .user-profile__title {
        position: static;
        margin-bottom: 0;
        text-align: left;
        width: auto;
        height: auto;
        padding: 0;
    }
    .user-profile__name {
        font-size: 17px;
        line-height: 26px;
        margin-bottom: 8px;
    }
    .user-profile__loc {
        font-size: 14px;
        line-height: 19px;
    }
    .user-profile__h4 {
        font-size: 14px;
        line-height: 20px;
    }
    .user-profile__compability {
        margin-left: -25px;
        margin-bottom: 40px;
    }
    .user-profile__chart {}
    .user-profile__chart + .user-profile__chart {
        margin-left: 25px;
    }
    .user-profile__chart-canvas {
        width: 120px;
        height: 60px;
    }
    .user-profile__chart-title {
        font-size: 15px;
        line-height: 20px;
        margin-top: 16px;
    }
    .user-profile__text {
        margin-bottom: 0;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        font-size: 15px;
    }
    .logo.logo_header .logo__img {
        background-image: url('../img/icons/logo-light.svg');
    }
    .logo.logo_header .logo__text {
        color: #FFF;
    }
    .firstscreen.bg01 {
        background-image: url('../img/bg/main/01d.jpg');
    }
    .firstscreen.bg02 {
        background-image: url('../img/bg/main/02d.jpg');
    }
    .firstscreen.bg03 {
        background-image: url('../img/bg/main/03d.jpg');
    }
    .firstscreen.bg04 {
        background-image: url('../img/bg/main/04d.jpg');
    }
    .firstscreen.bg05 {
        background-image: url('../img/bg/main/05d.jpg');
    }
    .firstscreen.bg06 {
        background-image: url('../img/bg/main/06d.jpg');
    }
    .firstscreen.bg07 {
        background-image: url('../img/bg/main/07d.jpg');
    }
    .firstscreen.bg08 {
        background-image: url('../img/bg/main/08d.jpg');
    }
    .firstscreen.bg09 {
        background-image: url('../img/bg/main/09d.jpg');
    }
    .firstscreen__block {
        padding: 0 0 0 85px;
        text-align: left;
    }
    .content_bg.bg01 {
        background-image: url('../img/bg/signup/01d.jpg');
    }
    .content_bg.bg02 {
        background-image: url('../img/bg/signup/02d.jpg');
    }
    .content_bg.bg03 {
        background-image: url('../img/bg/signup/03d.jpg');
    }
    .content_bg.bg04 {
        background-image: url('../img/bg/signup/04d.jpg');
    }
    .content_bg.bg05 {
        background-image: url('../img/bg/signup/05d.jpg');
    }
    .content_bg.bg06 {
        background-image: url('../img/bg/signup/06d.jpg');
    }
    .content_bg .h2-login {
        font-size: 18px;
    }
    .logo.logo_main .logo__img {
        float: left;
        margin: 5px 20px 0 0;
    }
    .slogan {
        font-size: 14px;
        margin: 16px 0 30px;
    }
    .header {
        padding-top: 37px;
        padding-bottom: 36px;
    }
    .header__btn {
        display: none;
    }
    .header__userinfo {
        display: block;
    }
    .content {
        padding-top: 46px;
    }
    .content.main {
        padding: 150px 0;
    }
    .wrap-horizontal,
    .content.main .wrap-horizontal {
        padding-left: 85px;
        padding-right: 85px;
    }
    .wrap-horizontal_user-profile {
        padding-left: 25px;
        padding-right: 25px;
    }
    .content.main p {
        color: #686868;
        font-size: 16px;
        margin-bottom: 2rem;
    }
    h1 {
        font-family: "Gotham", sans-serif;
        font-weight: 800;
        font-size: 24px;
        color: #5A5A5A;
        margin: 0 0 45px;
    }
    .h1__line:before {
        content: '';
        display: block;
        height: 2px;
        width: 72px;
        background-color: #B67FC8;
        margin: 0 auto 32px;
    }
    h2 {
        font-size: 15px;
        margin: 0 0 42px;
    }
    .h2-login {
        font-size: 18px;
        margin: 46px 0 87px;
    }
    p {
        font-size: 15px;
        margin-bottom: 2rem;
        line-height: 33px;
    }
    .collage {
        margin-bottom: 150px;
    }
    .collage__img_xs {
        display: none;
    }
    .collage__img_lg {
        display: block;
        width: 116%;
        position: relative;
        left: -8%;
    }
    .footer {
        padding: 37px 0;
    }
    .btn {
        padding: 1.063rem 1.5rem;
    }
    .btn-wide5 {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .form-group_login1 {
        margin-bottom: 1.8125rem;
    }
    .form-group_login2 {
        margin-bottom: 2.1875rem;
    }
    .form-group_login3 {
        margin-bottom: 1.5625rem;
    }
    .form-group_login4 {
        margin-bottom: 2.4375rem;
    }
    a.smallink {
        font-size: 13px;
    }
    .custom-checkbox .custom-control-label {
        font-size: 15px;
        line-height: 1.3;
    }
    .custom-radio .custom-control-label {
        font-size: 13px;
        line-height: 1.5;
    }
    .custom-switch .custom-control-label {
        font-size: 13px;
        line-height: 1.6;
    }
    .settings-photo {
        padding-right: 20px;
    }
    .settings-form {
        padding-left: 20px;
    }
    .settings-form__btn {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .user-list {
        max-width: 1050px; /*980+35+35*/
        padding-left: -35px;
        padding-right: -35px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .user {
        float: left;
        width: 525px;
        height: 197px;
        margin: 0 0 30px 0;
        padding-left: 35px;
        padding-right: 35px;
    }
    .user__inner {}
    .user + .user {
        margin-top: 0;
    }
    .user__img-area {
        width: 212px;
        height: 198px;
        padding: 20px 17px 42px;
    }
    .user__img {
        width: 178px;
        height: 136px;
    }
    .user__inf {
        width: 243px;
        padding: 20px 19px 29px 12px;
        color: #71757A;
    }
    .user__btn {
        width: 100%;
        bottom: -21px;
    }
    .btn_mini {
        font-size: 11px;
        padding: .75rem 1rem;
    }
    .user__text {
        margin-bottom: 18px;
    }
    .user__name {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 6px;
    }
    .user__location {
        font-size: 14px;
        line-height: 14px;
    }
    .compability__charts {
        margin-left: -25px;
    }
    .compability__title {
        font-size: 14px;
        line-height: 15px;
        margin-bottom: 10px;
    }
    .compability__chart-title {
        font-size: 11px;
        margin-top: 8px;
    }
    .compability__chart-canvas {
        width: 100px;
        height: 50px;
    }
    .compability__chart + .compability__chart {
        margin-left: -20px;
    }
    .user-profile {
        width: 920px;
    }
    .user-profile__gallery {
        width: 932px;
    }
    .user-profile__gallery-item {
        /*width: 131px;*/
        height: 122px;
    }
    .user-profile__image {
        width: 360px;
        height: 470px;
        margin-right: 50px;
    }
    .user-profile__btn {
        padding: 1.063rem 3rem;
    }
    .footer a.footer__lnk + a.footer__lnk {
        margin-left: 40px;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .wrap-horizontal {
        max-width: 1370px;
    }
    .content.main .wrap-horizontal,
    .footer.main .wrap-horizontal {
        max-width: none;
    }
    .user-profile {
        width: 966px;
        max-width: 966px;
    }
    .user-profile__gallery {
        width: 978px;
    }
    .user-profile__gallery-item {
        /*width: 138px;*/
        height: 128px;
    }
    .settings-photo {
        padding-right: 50px;
    }
    .settings-form {
        padding-left: 50px;
    }
    .settings-form__btn {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .user-profile__image {
        margin-right: 70px;
    }
}